
{% comment %} <form action="" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit">Sign Up</button>
</form> {% endcomment %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <title>Sign Up</title>
  </head>
  <body>
    <div>
      <div class="sign">
        <div class="sign-1">
          <div class="img-div">
            <a href="{% url 'shop:index' %}"><img src="{% static 'images/SMARTbuylogo.svg' %}" alt="" /></a>
          </div>
          <p class="sign-in">Sign Up</p>
          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            <strong>{{form.errors}}</strong>
          </div>
          {% endif %}
          <script>
            setTimeout (() => {
                $(".alert").alert("close");
            }, 3000)
          </script>
          <form method="POST">
            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}
            <div class="email-div">
              {{form.username}}
            </div>
            <div class="email-div">
              {{form.email}}
            </div>
            <div class="email-div">
              {{form.first_name}}
            </div>
            <div class="email-div">
              {{form.last_name}}
            </div>
            <div class="email-div">
              {{form.password1}}
            </div>
            <div class="email-div">
              {{form.password2}}
            </div> 

            {% comment %} <div>
              <label class="lab1">Username</label>
              <div class="email-div">
                <input type="text" placeholder="Chinaza" />
              </div>
            </div>

            <div>
              <label class="lab1">Email</label>
              <div class="email-div">
                <input type="email" placeholder="Chinaza" />
              </div>
            </div>
            <div>
              <label class="lab1">First Name</label>
              <div class="email-div">
                <input type="text" placeholder="Sunday" id="password-input" />
              </div>
              <!-- <label for="password-input" class="password-toggle"></label> -->
            </div>

            <div>
              <label class="lab1">Last Name</label>
              <div class="email-div">
                <input type="text" placeholder="example@gmail.com" />
              </div>
            </div>

            <div>
              <label class="lab1">Password</label>
              <div class="email-div">
                <input type="text" placeholder="Enter password" />
              </div>
            </div>

            <div>
              <label class="lab1">Comfirm Password</label>
              <div class="email-div">
                <input type="text" placeholder="Enter password" />
              </div>
            </div> {% endcomment %}

            <div class="submit-div">
              <input type="submit" value="Sign In" />
            </div>
          </form>
          <p class="sign-in-using">Or Sign in using</p>
          <div class="submit-div">
            <button><img src="{% static 'images/facebook.svg' %}" alt="" />Facebook</button>
            <!-- <input type="button" value="FaceBook"> -->
          </div>
          <div class="submit-div google">
            <!-- <p><input type="button" value="Google"></p> -->
            <button class="google-button">
              <img src="{% static 'images/Google.svg' %}" alt="" />Google
            </button>
          </div>
          <p class="dont-have-acct">
            Don't have an account? <a href="{% url 'userauths:signin' %}">Sign In</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
