p{
    font-family: 'Roboto', sans-serif;
}
/* Top selling item style start */
.container {
    margin-top: 70px;
    /* padding-top: 130px; */
    margin-bottom: 30px;
    /* width: 1200px; */
}

.third-container {
    background-color: #EEEEEE;
    border-radius: 8px;
    width: 1200px;
    margin: auto;
    padding:0px 0px 10px 0px;
    margin-top: 70px;
}

.third-container .third-0 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 1200px;
    /* margin-top: 0px; */
}

.fash-div {
    border-bottom: 1px solid;
    text-align: center;
}
.fash-div h2{
    padding-top: 10px;
}

.third-container .item-0 {
    background-color: #FFFFFF;
    width: 210px;
    margin: 20px 0px 0px 11px;
    border-radius: 8px;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.third-container .item-0 a {
    text-decoration: none;
    color: #282828;
}
.third-container .item-0 a p img{
    width: 13px;
}
.third-container .third-0 .item-img-0 {
    width: 117px;
    height: 176px;
    margin: 0px 0px 0px 45px;
    padding-top: 0px;
}
.third-container .third-0 .item-description-p {
    font-size: 14px;
    font-weight: 700;
    font-style: bold;
}

.third-container .third-0 .amount-p {
    font-weight: 500;
    font-style: bold;
    margin-top: 10px;
}
.third-container .third-0 button {
    width: 200px;
    height: 34.62px;
    border-radius: 8px;
    border: 0px;
    background-color: #F2994A;
    color: #FFFFFF;
    cursor: pointer;
    margin: 5px 0px 0px -5px;
}
.third-container .third-0 button:hover {
    background-color: rgb(216, 123, 30);
}

.third-container .item-0 .star-div {
    margin-top: 10px;
    z-index: 2;
}

.checked {
    color: orange;
}
/* Top selling item style end */

