{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <!-- main container start -->
    <div class="big-container">
      <div class="first-box">
        <h3>Cart({{order.get_cart_items}})</h3>
        {% for item in items %}
        <div class="items-div">
          <div class="item-1-div">
            <img src="{{item.product.imageURL}}" alt="" />
            <p>{{item.product.name}}</p>
          </div>
          <div class="item-2-div">
            <h2><img class="naira-img" src="{% static 'images/naira.svg' %}" alt="" />{{item.get_total|floatformat:2|intcomma}}</h2>
            <div class="item-total-div">
              <img data-product="{{item.product.id}}" data-action="remove" class="sort-left update-cart" src="{% static 'images/Sort Left.svg' %}" alt="" />
              <p>{{item.quantity}}</p>
              <img data-product="{{item.product.id}}" data-action="add" class="sort-righ update-cart" src="{% static 'images/Sort Right.svg' %}" alt="" />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="second-box">
        <h4 class="cart-sum">CART SUMMARY</h3>
        <div class="subtotal-div">
          <p>Subtotal ({{order.get_cart_items}})</p>
          <h3><img src="{% static 'images/naira.svg' %}" alt="" /> {{order.get_cart_total|floatformat:2|intcomma}}</h3>
        </div>
        <div class="checkout-btn-div">
          <a href="{% url 'shop:checkout' %}"><button type="submit">CHECKOUT ({{order.get_cart_total|floatformat:2|intcomma}})</button></a>
        </div>
      </div>
    </div>
    <!-- main container end -->
    {% endblock content %}
    