<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/checkout.css'%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartBuy</title>
</head>

<body>
    <header>
        <a href="{% url 'shop:index' %}"><img src="{% static 'images/SMARTbuylogo.svg' %}" alt="" /></a>
        <p>Order Details</p>
    </header>

    <main>
        <div class="main-first-div">
            <div class="first-div">
                <div class="first-input">
                    <div class="first-input-1">
                        <p>Full Name</p>
                        <input type="text" name="" id="" placeholder="E.g (Chinaza Sunday)" />
                    </div>

                    <div class="first-input-2">
                        <p>Email</p>
                        <input type="email" name="" id="" placeholder="example@gamil.com" />
                    </div>
                </div>
                <h4>Shipping Information</h4>
                <form action="">
                    <div class="form-div-1">
                        <div class="address-div">
                            <p>Address</p>
                            <input type="text" name="" id="" placeholder="Street Address" />
                        </div>

                        <div class="phone-div">
                            <p>Phone Number</p>
                            <input type="text" name="" id="" placeholder="E.g (09012345678)" />
                        </div>
                    </div>

                    <div class="form-div-2">
                        <div class="state-div">
                            <p>State</p>
                            <input type="text" name="" id="" placeholder="E.g (Lagos)" />
                        </div>

                        <div class="city-div">
                            <p>City</p>
                            <input type="text" name="" id="" placeholder="E.g (Ikeja)" />
                        </div>
                    </div>

                    <div class="submit-edit-div">
                        <input class="save-info" type="submit" value="SAVE INFO" />
                        <input class="edit-info" type="reset" value="EDIT INFO" />
                    </div>
                </form>
            </div>

            <div>
                <div class="second-div">
                    <div class="back-to-cart-div">
                        <a href="{% url 'shop:cart' %}"><img src="{% static 'images/Left-arrow.svg' %}" alt="" /> Back to cart</a>
                    </div>

                    <div class="order-sum-div">
                        <p>Order Summary</p>
                    </div>
                    <!-- Loop start -->
                    {% for item in items %}
                    <div class="product-sum-div">
                        <img id="product-img" src="{{item.product.imageURL}}" alt="" />
                        <p>{{item.product.name|truncatechars:9}}</p>
                        <h4><img src="{% static 'images/naira.svg' %}" alt="" />{{item.product.price|floatformat:2|intcomma}}</h4>
                        <p>x{{item.quantity}}</p>
                    </div>
                    {% endfor %}
                    <!-- Loop end -->
                    <button>CONFIRM ORDER</button>
                </div>
            </div>
        </div>

        <div class="main-second-div">
            <div class="main-second-div-1">
                <p>Choose Payment Method</p>

                <h4>PAYPAL</h4>
            </div>
        </div>
    </main>
</body>

</html>