{% extends 'main.html' %}
{% load static %} 
{% load humanize %}

{% block content %}
<div class="container">
  <div class="third-container">
    <div class="fash-div">
      <h2>FASHION</h2>
    </div>
    <div class="third-0">
      {% for fashion in fashions %}
      <div class="item-0">
        <a href="{% url 'shop:productdetail' id=fashion.id %}">
          <img class="item-img-0" src="{{fashion.imageURL}}" alt="">
          <p class="item-description-p">{{fashion.name}}</p>
          <p class="amount-p"><img src="{% static 'images/naira.svg' %}" alt=""> {{fashion.price|floatformat:2|intcomma}}</p>
        </a>
        <div class="star-div">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span><br>
        </div>
        <button data-product="{{fashions.id}}" data-action="add" class="a-t-c add-btn update-cart">ADD TO CART</button>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
  {% endblock content %}