{% extends 'main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="contain">
    <div class="imag-div">
      <img src="{{products.image.url}}" alt="" />
    </div>

    <div class="div-content">

      <h2>{{products.name}}</h2>
      <p>
        {{products.details}}
      </p>
      <div class="div">
        <div class="star-div">
          <div class="start-div-1">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
          <div class="start-div-2">
            <p>(10 verified rating)</p>
          </div>
        </div>

        <div class="price-div">
          <strong><img src="{% static 'images/naira.svg' %}" alt=""> {{products.price|floatformat:2|intcomma }}</strong>
        </div>
        <div>
          <button data-product="{{products.id}}" data-action="add" class="a-t-c add-btn update-cart">ADD TO CART</button>
          <button class="s-i"> <img src="{% static 'images/saved.svg' %}" alt=""> SAVE ITEM</button>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock content %}